# database
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

# large test
LARGE_TEST_HANDLE=
LARGE_TEST_PASSWORD=

# sentry
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_AUTH_TOKEN=
