@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "daisyui";

/* https://stackoverflow.com/a/79434267 */
@custom-variant light (@media (prefers-color-scheme: light));

@theme {
  --font-murecho: "Murecho", sans-serif;
  --breakpoint-sm: 430px;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --size-field: 0.3rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --card-fs: 1rem;
  --card-p: 2rem;
}

/* body以下でh-fullなどを使用するために指定しておく */
html,
body {
  height: 100%;
}

.utils--center {
  @apply flex h-full w-full items-center justify-center;
}

/* Blueskyの埋め込み時に自動で挿入されるスタイルの一部を打ち消す */
.bluesky-embed {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.btn-bluesky {
  --btn-color: oklch(62.58% 0.205 254.95);
}

em-emoji-picker {
  width: 100%;
  height: 300px;
}
