@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body以下でh-fullなどを使用するために指定しておく */
html,
body {
  height: 100%;
}

.utils--center {
  @apply flex h-full w-full items-center justify-center;
}

/* Blueskyの埋め込み時に自動で挿入されるスタイルの一部を打ち消す */
.bluesky-embed {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
