name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: |
          npm i -g corepack@latest
          corepack enable pnpm
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm i
      - run: pnpm typecheck
      - run: pnpm lint
      - run: pnpm test -- --coverage
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: |
          npm i -g corepack@latest
          corepack enable pnpm
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: |
          ATPROTO_COMMIT=$(cat ./scripts/postinstall.sh | grep ATPROTO_COMMIT= | awk -F'=' '{print $2}')
          echo "ATPROTO_COMMIT=$ATPROTO_COMMIT" >> $GITHUB_ENV
          NODE_VERSION=$(node -v)
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: atproto
          key: atproto-${{ env.ATPROTO_COMMIT }}-node-${{ env.NODE_VERSION }}
      - run: pnpm i
      - run: pnpm playwright install --with-deps
      - run: cp .env.example .env
      - run: pnpm setup-dev
      - run: pnpm build
      - run: pnpm e2e
      # https://www.cloudflarestatus.com/incidents/t5nrjmpxc1cj
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1
        if: always() && (github.ref == 'refs/heads/main' || github.actor == 'mkizka')
        with:
          version: 2.22.35
      - name: Upload Report
        if: always() && (github.ref == 'refs/heads/main' || github.actor == 'mkizka')
        run: |
          E2E_S3_PATH="playwright-report/${{ github.ref == 'refs/heads/main' && 'main' || github.sha }}"
          aws s3 cp playwright-report "s3://$E2E_S3_PATH" --recursive
          echo "Report: https://${{ vars.S3_BASE_URL }}/$E2E_S3_PATH/index.html"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_DEFAULT_REGION: auto
